# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.env
*.log

# Virtual environment
.venv/
venv/
ENV/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Token file (if stored locally and not using keyring)
token.txt
.prismdrive_token